table
{
	position: absolute;
	left:50%;
	top:65%;
	transform: translate(-50%,-50%);
	z-index: 0;
}
table th,
table td{
     padding: 10px 50px;
     font-weight: bold;

}
table tr:nth-of-type(even) {
    background-color: #C1FEF9FF;
}
.patientD
{
	margin: 20px;
	min-height: 500px;
	position: relative;
	background: #fff;
	padding: 20px;
}
 
.pic .icons
{
	position: relative;
	display: block;
	text-align: center;

}
 